.main-container {
  display: flex;
  flex-direction: column;
}

.card-main-banner {
  background-image: url("./img/banner_bogota.jpg");
  background-size: 100% 100%;
  width: 100%;
  min-height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  .img-container-bgt {
    width: 100px;
  }

  .title-banner,
  .tpm-description-bgt,
  .temperature-text {
    font-size: 1.2rem;
    color: rgb(54, 54, 54);
  }

  .text-container {
    position: absolute;
    background-color: #bcbcbc;
    opacity: 0.9;
    width: auto;
    margin: 1rem;
    border-radius: 10px;
    padding: 10px;
  }
}

.card-second-banner {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  height: 45%;
}

.paris-wheater-container,
.forecast-bgt-container {
  width: 48%;
  height: 470px;
  border-radius: 10px;
}

.forecast-bgt-container {
  border: solid black 1px;
  padding: 0 1rem;

  h2 {
    margin: 1rem;
    text-align: center;
  }

  .table-forecast {
    margin: auto;
    width: 100%;
    tr:nth-child(2n) {
      background-color: antiquewhite;
    }
  }

  .img-forecast {
    width: 40px;
  }

  .row-forecast {
    width: 100%;
  }
}

.paris-wheater-container {
  background-image: url("./img/banner_paris.jpg");
  background-size: 100% 100%;

  .text-container {
    position: absolute;
    background-color: #bcbcbc;
    opacity: 0.6;
    width: auto;
    margin: 1rem;
    border-radius: 10px;
    padding: 10px;
  }

  .img-container-paris {
    width: 100px;
  }
  .title-banner,
  .tpm-description-paris,
  .temperature-text {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
  }
}

@media only screen and (max-width: 800px) {
  .card-second-banner {
    display: flex;
    flex-direction: column;
    .forecast-bgt-container,
    .paris-wheater-container {
      width: 100%;
    }
    .forecast-bgt-container {
      padding: 0;
      margin-bottom: 2rem;
    }
  }
  .card-main-banner {
    background-image: url("./img/banner_bogota_mobile.jpg");
  }
}
